pipeline/Copy SPO file with SPN key.json
{
	"name": "Copy SPO file with SPN key",
	"properties": {
		"activities": [
			{
				"name": "Get Bearer Token",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get App Client Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"disableCertValidation": true,
					"url": "https://accounts.accesscontrol.windows.net/d1becd49-3f8d-435f-8618-f112b530e54c/tokens/OAuth/2",
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=46a4babd-9d6d-4516-87d4-cfdee1a2e7ef@d1becd49-3f8d-435f-8618-f112b530e54c&client_secret=',activity('Get App Client Key').output.value,'&resource=00000003-0000-0ff1-ce00-000000000000/m365x68336840.sharepoint.com@d1becd49-3f8d-435f-8618-f112b530e54c')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy SPO file to ADLS",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@concat('Authorization: Bearer ',activity('Get Bearer Token').output.access_token)",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "BinarySink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SPO_file_Binary",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_Binary",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get SPO file",
				"description": "Option1: Use REST",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": {
							"value": "@concat('Bearer ',activity('Get Bearer Token').output.access_token)",
							"type": "Expression"
						}
					},
					"url": "https://m365x68336840.sharepoint.com/sites/RosinaSite/_api/web/GetFileByServerRelativeUrl('/sites/RosinaSite/Shared%20Documents/MyFiles/Test_Excel.xlsx')/$value"
				}
			},
			{
				"name": "Get Graph download URL",
				"description": "Option2: use Graph Http\n\n拿到graph ID\nhttps://graph.microsoft.com/v1.0/sites/healthqld.sharepoint.com,076c1ecf-c935-4102-b428-c69dc6f4b1be,c74109fb-021f-40f6-9625-3f63114975e8/drives\n\n拿到binary：\nhttps://graph.microsoft.com/v1.0/sites/healthqld.sharepoint.com,076c1ecf-c935-4102-b428-c69dc6f4b1be,c74109fb-021f-40f6-9625-3f63114975e8/drive/root:/Shared%20Documents/Mapping.xlsx:/content",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Bearer Token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Authorization": "Bearer+ token"
					},
					"url": "https://graph.microsoft.com/v1.0/sites/healthqld.sharepoint.com,076c1ecf-c935-4102-b428-c69dc6f4b1be,c74109fb-021f-40f6-9625-3f63114975e8/drives/b!zx5sBzXJAkG0KMadxvSxvvsJQccfAvZAliU_YxFJdehb0nxyLtQDQbrO8xFnXe3l/root:/Mapping.xlsx"
				}
			},
			{
				"name": "Web2",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get Graph download URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@activity('Get Graph download URL').output['microsoft.graph.downloadUrl']",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get App Client Key",
				"description": "App in dif tennat so just for reference\ncannot be enabled for test in this lab",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://rosina-akv.vault.azure.net/secrets/SPO-Tenant-AppKey/0e71f6d824944fa3a58ee63b2eeb3b03?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SharePointOnlineListSource",
						"httpRequestTimeout": "00:05:00"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SharePointOnlineListDataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ADLS_Sink",
						"type": "DatasetReference",
						"parameters": {
							"FileName": "sink1.csv"
						}
					}
				]
			},
			{
				"name": "Get SPO file_InlineSPNAuth",
				"description": "SPO cannot use inline auth",
				"type": "WebActivity",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://m365x68336840.sharepoint.com/sites/RosinaSite/_api/web/GetFileByServerRelativeUrl('/sites/RosinaSite/Shared%20Documents/MyFiles/Test_Excel.xlsx')/$value",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "d1becd49-3f8d-435f-8618-f112b530e54c",
						"username": "f43557ff-9a53-430c-8054-700fde9500d8",
						"resource": {
							"value": "@concat('00000003-0000-0ff1-ce00-000000000000/m365x68336840.sharepoint.com@d1becd49-3f8d-435f-8618-f112b530e54c')",
							"type": "Expression"
						},
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "RosinaAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "RosinaSPO-ServicePrincipal-Key"
						}
					}
				}
			},
			{
				"name": "Get Bearer Token_copy1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get App Client Key_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"disableCertValidation": true,
					"url": "https://accounts.accesscontrol.windows.net/d1becd49-3f8d-435f-8618-f112b530e54c/tokens/OAuth/2",
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=46a4babd-9d6d-4516-87d4-cfdee1a2e7efd1becd49-3f8d-435f-8618-f112b530e54c&client_secret=',activity('Get App Client Key_copy1').output.value,'&resource=00000003-0000-0ff1-ce00-000000000000/m365x68336840.sharepoint.comd1becd49-3f8d-435f-8618-f112b530e54c')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get App Client Key_copy1",
				"description": "App in dif tennat so just for reference\ncannot be enabled for test in this lab",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://rosina-akv.vault.azure.net/secrets/SPO-Tenant-AppKey/0e71f6d824944fa3a58ee63b2eeb3b03?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"folder": {
			"name": "API Tests"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-14T03:27:48Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}