pipeline/Get Bearer Token Azure.json
{
	"name": "Get Bearer Token Azure",
	"properties": {
		"activities": [
			{
				"name": "Get APP Bearer Token",
				"description": "RosinaAPP",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get Client Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": true
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"disableCertValidation": true,
					"url": "https://login.microsoftonline.com/16b3c013-d300-468d-ac64-7eda0820b6d3/oauth2/v2.0/token",
					"body": {
						"value": "@concat('grant_type=client_credentials&client_id=6a26d4de-e457-44fa-b5cf-04a81934fa8d&client_secret=',activity('Get Client Key').output.value,'&scope=https%3A%2F%2Fmanagement.azure.com%2F.default')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Client Key",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://rosina-akv.vault.azure.net/secrets/RosinaAppKey/27dabd3fb095403dbf524816451d4185?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			}
		],
		"folder": {
			"name": "API Tests"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-14T03:27:46Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}