pipeline/OneDriveTest.json
{
	"name": "OneDriveTest",
	"properties": {
		"activities": [
			{
				"name": "Get Download URL",
				"description": "URL:\nhttps://graph.microsoft.com/v1.0/users/fbf00b10-47c7-44c2-b308-18170754cea2/drive/root:/Apps/OneDriveTest.xlsx\n\nhttps://graph.microsoft.com/v1.0/users/0e197347-b631-4475-81d8-ed52956c2af7/drive/root:/Apps/Book.xlsx\n\nGet UserID from M365 admin center:\nhttps://entra.microsoft.com/#view/Microsoft_AAD_IAM/TenantOverview.ReactView?Microsoft_AAD_IAM_legacyAADRedirect=true\n\nShow more -> Identity -> Users -> The user -> ObjectID",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://graph.microsoft.com/v1.0/users/fbf00b10-47c7-44c2-b308-18170754cea2/drive/root:/Apps/OneDriveTest.xlsx",
					"authentication": {
						"type": "ServicePrincipal",
						"userTenant": "b933704f-3262-4645-b4e0-2b57b2de529c",
						"username": "66572f9a-ba44-48aa-80ff-2c1731be795d",
						"resource": "https://graph.microsoft.com/",
						"password": {
							"type": "AzureKeyVaultSecret",
							"store": {
								"referenceName": "RosinaAKV",
								"type": "LinkedServiceReference"
							},
							"secretName": "RobertSPOClientKey"
						}
					}
				}
			},
			{
				"name": "GetBearerToken",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Get App Client Key",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"url": "https://login.microsoftonline.com/b933704f-3262-4645-b4e0-2b57b2de529c/oauth2/v2.0/token",
					"body": {
						"value": "@concat('client_id=66572f9a-ba44-48aa-80ff-2c1731be795d&client_secret=',activity('Get App Client Key').output.value,'&scope=https%3A%2F%2Fgraph.microsoft.com%2F%2F.default&grant_type=client_credentials')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy Binary Excel to ADLS",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Get Download URL",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "BinarySource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ',activity('GetBearerToken').output.access_token)}",
								"type": "Expression"
							}
						},
						"formatSettings": {
							"type": "BinaryReadSettings"
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "HttpBinaryDataset",
						"type": "DatasetReference",
						"parameters": {
							"downloadUrl": {
								"value": "@activity('Get Download URL').output['@microsoft.graph.downloadUrl']",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OracleTable",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Get App Client Key",
				"description": "App in dif tennat so just for reference\ncannot be enabled for test in this lab",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": true,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://rosina-akv.vault.azure.net/secrets/RobertSPOClientKey/dcb2b40d0ce4401f8636aad03187bdfc?api-version=7.0",
					"authentication": {
						"type": "MSI",
						"resource": "https://vault.azure.net"
					}
				}
			},
			{
				"name": "Copy Excel Sheet to Oracle",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Get Download URL",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GetBearerToken",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET",
							"additionalHeaders": {
								"value": "@{concat('Authorization: Bearer ',activity('GetBearerToken').output.access_token)}",
								"type": "Expression"
							}
						}
					},
					"sink": {
						"type": "OracleSink",
						"writeBatchSize": 10000
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "OnDriveExcel",
						"type": "DatasetReference",
						"parameters": {
							"DownloadURL": {
								"value": "@activity('Get Download URL').output['@microsoft.graph.downloadUrl']",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "OracleTable",
						"type": "DatasetReference"
					}
				]
			}
		],
		"folder": {
			"name": "API Tests"
		},
		"annotations": [],
		"lastPublishTime": "2025-07-14T03:27:49Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}